<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Oi, como esse é um projeto feito em apenas 1 dia (e pq eu tbm to cansado pra peste) resolvi não criar o Update do banco de dados</h1>
    <h2>Fique com um vídeo de gatinhos fofos.</h2>
    <a href=https://youtu.be/dQw4w9WgXcQ role="button">Gatinhos Fofos</a>
</body>
</html>